services:
  backend:
    build: ./backend
    image: nelsontlima/projeto01-backend:latest
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: mensagensdb
      API_HOST: 0.0.0.0
      API_PORT: 5000
    depends_on:
      - db
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
    image: nelsontlima/projeto01-frontend:latest
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=http://localhost:5000
    depends_on:
      - backend
    networks:
      - appnet


  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mensagensdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet

volumes:
  pgdata:

networks:
  appnet:
